body {
  font-family: 'Lato', sans-serif;
  /*background: #e2dedb;*/
  /*color: #b3aca7;*/
}

.example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-linear-gradient(top, white, black);
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);

}

#ty-text {
  position: absolute;
  bottom: 40%;
  top: 30%;
}


/*==============
Header
==============*/

.logo {

}

.heading-container {
}


.aspect-ratio--21x9 {
  padding-bottom: 42.2%;
 }

 /*==============
Navigation
 ==============*/

.navigation-container {
  margin-top: 0px;
  margin-right: 0px;
  background: white;
  /*text-align: center;*/

}

h1 {
  color: black;
}

@media only screen and (max-width: 500px){
  h1 {
    color: white;
  }
}

@media only screen and (max-width: 500px){
  .navigation-container{
    background: black;
  }
}

/*h1 > a {
  text-decoration: none;
  color: rgba(0,0,0,.4);
  z-index: 1;
}

h1 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #9CF5A6;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}

h1 > a:hover:before,
h1 > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}*/

 a{

 }

 /*==============
hero
 ==============*/

.hero-video-container{
  position: relative;
}

.hero-video{
  vertical-align: middle;
  width: 100%;
}

.hero-logo{
  background:
}

.logo-overlay{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}



.hero {
 background: linear-gradient(
  rgba(20,20,20, .5),
  rgba(20,20,20, .5)),
  url('assets/hero.jpg');
 background-position: center;
 width: 100%;
 height: 500px;
 background-size: cover;
 background-repeat: no-repeat;
}
/*==============
Portfolio
==============*/

.portfolio img {
  display: block;
}

.project {

  height: 100%;
}


.overlay {
  position: absolute;
  align-self: flex-end;
  opacity: 0;
  transition: .5s ease;
  /*height: 10%;
  background-color: rgba(0,0,0,.6);*/
}

/*.project-title {
  position: absolute;
  color: white;
  font-size: 20px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}*/

.project:hover .overlay{
  opacity: 1;
}

.html5lightbox {
}

/*==============
Reel
==============*/

.reel-container {
  /*margin-top: -5px;*/
}

.reel {
  text-align: center;
  width: auto;
  position: relative;
  height: auto;

}

/*@media only screen and (max-width: 500px) {
  .reel {
    width: 100vw;
  }
}*/

/*==============
Our Clients
==============*/

.clients {
  max-width: 1100px;
  padding: 1em;
}

.client {
  width: 25%;
  margin: 0;
  padding: 1.5em;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  transition: .5s;
  -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
}

/*@media only screen and (max-width: 600px) {
  .client {
    padding: 10px;
    width: 100%;
  }
}*/

@media only screen and (max-width: 600px) {
  .client {
    width: 50%;
  }
}

.client:hover {
  filter: none;
  transition: .5s;
  -webkit-transform: scale(1.12);
        -ms-transform: scale(1.12);
        transform: scale(1.12);
}



/*==============
Review Quote
==============*/

.review-quote {
  background: linear-gradient(
   rgba(20,20,20, .5),
   rgba(20,20,20, .5)),
   url('assets/astronauts.png');
  background-position: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}




.quote-text {
  /*max-width: 1000px;*/
}

/*==============
Footer
==============*/

.social-media {
  width: 300px;
  height: auto;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.sm-logo {
  width: 40px;
  height: auto;
  margin: 1.5%;
}

.copyright {
  color: #949494;
}

/*==============
Contact Form
==============*/

/*@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);*/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  /*color: #aca49c;*/
  color: #848484;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #848484;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #848484;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #848484;
}

input::placeholder, textarea::placeholder {
  color: #848484;
  font-size: 0.875em;
}

input:focus::placeholder, textarea:focus:placeholder {
  color: #848484;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #848484;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #848484;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  /*color: #e2dedb;*/
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  /*color: #cbc6c1;*/
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  /*color: #e2dedb;*/
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  /*color: #cbc6c1;*/
}

input:hover::placeholder, textarea:hover::placeholder {
  /*color: #e2dedb;*/
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  /*color: #cbc6c1;*/
}

input:hover::placeholder, textarea:hover::placeholder {
  /*color: #e2dedb;*/
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover:focus:-ms-placeholder {
  /*color: #cbc6c1;*/
}

#form {
  /*position: relative;*/
  width: 100%;
  margin: 25px auto 50px auto;
  max-width: 700px;
}

input {
  /*font-family: 'Lato', sans-serif;*/
  font-size: 0.875em;
  width: 100%;
  max-width: 800px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: white;

  border: solid 1px white;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

/*input:hover {
  background: #4c4c4c;
  color: #e2dedb;
}*/

textarea {
  width: 100%;
  max-width: 800px;
  height: 220px;
  max-height: 350px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  /*font-family: 'Lato', sans-serif;*/
  font-size: 0.875em;

  border: solid 1px white;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  /*background: #4c4c4c;*/
  color: white;
}

#submit {
  /*width: 502px;*/
  width: inherit;
  padding: 0;
  margin: -5px 0px 0px 0px;

  /*font-family: 'Lato', sans-serif;*/
  font-size: 0.875em;
  color: white;

  outline:none;
  cursor: pointer;

  border: solid 1px white;

}

#submit:hover {
  background: #4c4c4c;
  color: #e2dedb;
}

/*THANK YOU PAGE*/
